.blog-item {
    display: flex;
    flex-direction: column;
    width: 40vh;
    border: 1px solid mediumaquamarine;
    padding: 5px;
    margin: 10px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    /*border: 1px solid yellow;*/
    margin: 20px;
}

h2 {
    text-align: center;
}
