.default-link {
border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid mediumaquamarine;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 35px 0;
    padding-bottom: 100px;
    /*border: 1px solid yellow;*/
}

.navbar-menu {
    list-style: none;
    display: flex;
    flex-basis: 350px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px;
    /*border: 1px solid yellow;*/
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}
